:root {
  --bg-main: #F2EFE7;
  --bg-secondary: #9ACBD0;
  --button-color: #48A6A7;
  --header-footer: #006A71;
  --white: #ffffff;
}

body {
  margin: 0;
    font-family: sans-serif;
    background-color: var(--bg-main);
    direction: rtl;
}

  header {
    text-align: center;
    background-color: var(--header-footer);
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    color: white;
    
  }
  
  section {
  background-color: var(--bg-secondary);
  padding: 20px;
  margin: 20px auto 85px auto;
  border-radius: 8px;
  color: black;
  text-align: center;
  max-width: 600px;
  
}

@media (max-width: 600px) {
  section {
    margin: 20px;  /* همه طرف‌ها 20 پیکسل */
    margin-bottom: 85px;
  }
}
  
  button {
    background-color: var(--button-color);
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 45px;      /* عرض ثابت */
    height: 45px;     /* ارتفاع مساوی عرض */
    border-radius: 100%; /* گرد شدن کامل به شکل دایره */
}

#problemInput {
  border-radius: 8px; /* مقدار دلخواه برای گرد شدن گوشه‌ها */
  padding: 8px 12px;   /* بهتره یه padding هم بدی برای ظاهر بهتر */
  border: 1px solid #ccc; /* حاشیه معمولی */
  outline: none; /* وقتی کلیک می‌کنه دورش خط اضافی نیفته */
  font-size: 16px;
}

  
  button:hover {
    background-color: #004e55;
  }
  
  #diagnosticResult, #matchResult {
    margin-top: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
  }

  footer {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;    
    background-color: var(--header-footer);
    color: var(--white);
    text-align: center;
    padding: 1rem;
  }
  
  .bottom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--header-footer);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 0;
    z-index: 1000;
  }
  
  .bottom-footer nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .bottom-footer nav a:hover {
    color: var(--button-color);
  }
  
  /* فاصله پایین صفحه اصلی برای دیده شدن محتوا زیر فوتر */
  
  .bottom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--header-footer);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .bottom-footer nav {
    display: flex;
    gap: 40px;
  }
  
  .bottom-footer a {
    text-decoration: none;
    color: #006A71;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    
  }
  
  .nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .green-nav .nav-item i,
  .green-nav .nav-item span {
    color: greenyellow
  }
