:root {
  --bg-main: #F2EFE7;
  --bg-secondary: #9ACBD0;
  --button-color: #48A6A7;
  --header-footer: #006A71;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg-main);
  direction: rtl;
  }
  
  h1 {
    color: #006a71;
  }
  
  #cartItems {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .cart-item {
    border: 1px solid #48a6a7;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .cart-item img {
    width: 100px;
    height: auto;
    border-radius: 8px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
  }

  .remove-btn {
    margin-top: 10px;
    background-color: #006a71;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    background-color: #004d52;
  }
  
  footer {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;    
    background-color: var(--header-footer);
    color: var(--white);
    text-align: center;
    padding: 1rem;
  }
  
  .bottom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--header-footer);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 0;
    z-index: 1000;
  }
  
  .bottom-footer nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .bottom-footer nav a:hover {
    color: var(--button-color);
  }
  
  /* فاصله پایین صفحه اصلی برای دیده شدن محتوا زیر فوتر */
  
  .bottom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--header-footer);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .bottom-footer nav {
    display: flex;
    gap: 40px;
  }
  
  .bottom-footer a {
    text-decoration: none;
    color: #006A71;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    
  }
  
  .nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .green-nav .nav-item i,
  .green-nav .nav-item span {
    color: greenyellow
  }
